tr[aria-level="1"] {
    background-color: #fcfcfc;
}


.field.action-filter button {
    display: flex;
    justify-content: center;
}

:host :lang(ar) {
    tr[aria-level="1"] td:first-child {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .field.action-filter button {
        flex-direction: row;
    }
}