.bread-crumb-container {
    // background-color: #fff;

    .pi:before {
        font-size: 24px;
    }

}

::ng-deep .p-breadcrumb-list li:first-of-type a span {
    color: #f36f28 !important;
    font-weight: 500;
}

::ng-deep .p-breadcrumb {
    background: transparent;
    border: none;
    margin-bottom: 24px;

    & a span {
        font-size: 16px;
        margin-inline: 10px;
    }



    .pi-home:before {
        content: "\e925";
        font-size: 30px;
        color: #495057;
    }

    .label-text {
        color: #495057;
    }

    svg path {
        fill: #cbcbcb;
    }



    .p-element:last-of-type .current-label {
        color: #495057 !important;
        // font-weight: 500;
    }
}


::ng-deep html:lang(ar) chevronrighticon.p-element.p-icon-wrapper.ng-star-inserted {
    rotate: 180deg;
}