.btn-filter-submit-container {
    width: 100%;
    display: flex;
    justify-content: end;
}
.btn-filter-submit-container .field {
    width: fit-content;
}
.btns {
    display: flex;
    gap: 8px;
    width: 50%;
}
