::ng-deep .field {
    margin-bottom: unset !important;
    padding: 10px;
}

::ng-deep .p-fileupload .p-button {
    background-color: #ffffff !important;
    border: none;
}

::ng-deep .p-fluid .p-button-icon-only {
    border: none !important;
}

::ng-deep .p-fileupload-buttonbar .ng-star-inserted {
    display: none;
}