h5 span {
    color: red;
    font-weight: bold;
}

::ng-deep html:lang(ar) .p-datatable-header {
    h5 {
        display: flex;
        gap: 10px;
    }
}

::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
    padding: 5px;
}