.null-color {
    color: red;
}


.btns {
    display: flex;
    gap: 8px;
    width: 50%;
}

.manageItems {
    user-select: none;
}

.p-datatable-frozen-view {
    background-color: #f9f9f9;
    /* Optional for visual distinction */
}

.p-datatable-scrollable-body {
    overflow-x: auto;
}


::ng-deep .p-datatable-tbody>tr>td {
    right: 0px !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    right: 0px !important;
}


::ng-deep html:lang(en) .p-datatable-tbody>tr>td {
    right: unset !important;
    left: 0px !important;
}

::ng-deep html:lang(en) .p-datatable .p-datatable-thead>tr>th {
    right: unset !important;
    left: 0px !important;
}