.details {
    display: flex;
    align-items: center;
    gap: 24px;
}
.details h4 {
    margin-block: 24px;
}
::ng-deep .pt-table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray for odd rows */
}

::ng-deep .pt-table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White for even rows */
}
.totalAmount {
    color: #f36f28;
}
