<p-toast></p-toast>
<div class="grid justify-content-center">
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5 class="text-center">{{'RESIGNATIONSETTING' | translate}}</h5>
            <form class="p-fluid p-formgrid grid" [formGroup]="resignForm" (submit)="registerData(resignForm)">

                <div class="field col-12">
                    <label htmlFor="noticePeriodInDays">{{ "noticePeriodInDays" | translate }} </label>
                    <input pInputText formControlName="noticePeriodInDays"
                        [placeholder]="'Enter noticePeriodInDays Here' | translate" id="noticePeriodInDays"
                        type="number" [(ngModel)]="company.noticePeriodInDays" />
                </div>

                <div class="field col-12">
                    <div formArrayName="items">
                        <div *ngFor="let item of items.controls; let i = index">
                            <input pInputText [formControlName]="i" placeholder="Item {{ i + 1 }}" />
                            <button pButton type="button" (click)="removeItem(i)" label="Remove"></button>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <button pButton type="button" (click)="addItem()" label="Add Item"></button>
                </div>

                <div class="field col-12">
                    <button [disabled]="companyData.invalid" class="w-25" pButton [label]="'Send' | translate"
                        type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>